.menu {
  background-color: #000;
  overflow: hidden;
}

.menu a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
}

.menu div {
  float: left;
  display: block;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 16px;
  background-color: #fff;
}
.menu img {
  float: left;
}

.menu a:hover {
  background-color: #ddd;
  color: black;
}

.slideshow img {
width: 100%;
}

#sobreTitulo{
  background-color: #44d9e6;
  width: 190px;
  height: 90px;
  border-radius: 10px;
  margin: auto;
  text-align: center;

}