body {
  display: grid;
  grid-template-columns: 1;
  color: #fff;
  background-color: #0f0f0f;
}
#home {
  display: none;
}
body > div {
    background-color: #0f0f0f;
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #000;
  overflow: hidden;
}

.menu a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
}

.menu div {
  float: left;
  display: block;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 16px;
  background-color: #fff;
}
.menu img {
  float: left;
}

.menu a:hover {
  background-color: #ddd;
  color: #000;
}

iframe {
  width: 100%;
  height: 80vh;
  border:  none;
}

#sobreTitulo {
  background-image: url(imagem/7.jpg);
  width: 1390px;
  height: 90px;
  border-radius: 10px;
  margin: auto;
  text-align: center;
  padding-top: 50px;
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}