body {
  display: block;
  margin: 0px;
}

.menu {
  background-color: #000;
  overflow: hidden;
}

.menu a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
}

.menu div {
  float: left;
  display: block;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 16px;
  background-color: #fff;
}
.menu img {
  float: left;
}

.menu a:hover {
  background-color: #ddd;
  color: #000;
}

/* animação do slide */

@keyframes fade {
  0%   { opacity: 0; }
  11.11%   { opacity: 1; }
  33.33%  { opacity: 1; }
  44.44%  { opacity: 0; }
  100% { opacity: 0; }
}

.fadein img { 
  opacity:0; 
  animation-name: fade; 
  animation-duration: 9s; 
  animation-iteration-count: infinite; 
  position:absolute; 
  left:0; 
  right:0; 
}
.fadein img:nth-child(1) { animation-delay: 0s; }
.fadein img:nth-child(2) { animation-delay: 3s; }
.fadein img:nth-child(3) { animation-delay: 6s; }
.fadein img:nth-child(4) { animation-delay: 9s; }
.fadein img:nth-child(5) { animation-delay: 12s; }
.fadein img:nth-child(6) { animation-delay: 15s; }

/* o slideshow em si */
.fadein img {
width: 100%;
}

.sobreTitulo {
  background-image: url(imagem/7.jpg);
  width: 1390px;
  height: 90px;
  border-radius: 10px;
  margin: auto;
  text-align: center;
  padding-top: 50px;
  margin-top: 50px;

}

.aoladoSobre img {
  width: 450px;
  height: 250px;
  border-radius: 8px;
  margin-left: 100px;
  margin-top: 50px;
}

.aoladoSobre p {
  font-size: 14pt;
  text-align: center;
}

h2 {
  text-align: center;
  text-align: justify;
}

.sobreIndex {
  position:absolute ;
  margin-top: 80vh;
}